.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background-color: hsla(0, 0%, 0%, 0.349);
    border-radius: 10px;
    padding-top: 10px;
    width: 210px;
    height:260px;
    transition: 0.25s;
    color: white;

}
.Container img{
    width: 180px;
    height: 210px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: 0.25s;
}
.Container h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.Container:hover{
    width: 230px;
    height: 280px;
}
.Container img:hover{
    width: 200px;
    height: 230px;
}
